### This workflow setup instance then build and push images ###
name: Multi-arch build 

on:
  push:
    tags:
      - "v*"
      
jobs:
  build:
    name: "${{ matrix.name }} ${{ matrix.edition }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        name: ["Build Docs"]
        dockerfile: ["Dockerfile"]
        edition: [ "", "-ee", "-de"]
        images: [ "proxy docservice converter" ]
        include:
          - edition: "-de"
            name: "Build Docs non-plugins"
            dockerfile: "Dockerfile.noplugins"
            images: "proxy docservice converter"
            postfix: "-noplugins"

          - edition: ""
            name: "Build utils"
            dockerfile: "Dockerfile"
            images: "example utils"
    steps:
      - name: Checkout code 
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
     
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Get Tag Name
        id: tag-name
        run: |
          echo "source-tag=${GITHUB_REF#refs/tags/}" >> "$GITHUB_OUTPUT"

      - name: Build Community-Edition
        env:
           SOURCE_TAG: ${{ steps.tag-name.outputs.source-tag }}
           NOPLUG_POSTFIX: ${{ matrix.postfix }}
           DOCKERFILE: ${{ matrix.dockerfile }}
        run: |
          DOCKER_TAG=$(echo ${SOURCE_TAG} | sed 's/^.//')
          PRODUCT_EDITION=${{ matrix.edition }} \
          TAG=$DOCKER_TAG \
            docker buildx bake \
            -f docker-bake.hcl ${{ matrix.images }} \
            --push
