### This workflow setup instance then build and push images ###
name: Multi-arch build 

on:
  push:
    tags:
      - "v*"
      
jobs:
  build:
    name: Build 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code 
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
     
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Get Tag Name
        id: tag_name
        run: |
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}

      - name: Tag revision
        run:  DOCKER_TAG=$(echo ${{ steps.tag_name.outputs.SOURCE_TAG }} | sed 's/^.//')

      - name: Build Community-Edition
        run: PRODUCT_EDITION= TAG=$DOCKER_TAG docker buildx bake -f docker-bake.hcl docservice proxy converter --push  --set *.platform=linux/amd64,linux/arm64

      - name: Build Enterprise-Edition 
        run: PRODUCT_EDITION=-ee TAG=$DOCKER_TAG docker buildx bake -f docker-bake.hcl docservice proxy converter --push  --set *.platform=linux/amd64,linux/arm64

      - name: Build Developer-Edition 
        run: PRODUCT_EDITION=-de TAG=$DOCKER_TAG docker buildx bake -f docker-bake.hcl docservice proxy converter --push  --set *.platform=linux/amd64,linux/arm64
